* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  margin: 0;
  }
  
.navbar {
  background-color: #fff;
  color: #111;
  display: flex;
  justify-content: center;
  padding: 30px 0px;
  height: 20px;
  width: 100%;
  margin: 0px;
  align-items: center;
  border-bottom: #888 hidden 1px;
  box-shadow: 0px 0px 5px 0px #888;
}

.navbar a {
  color: #111;
  text-decoration: none;
  padding: 10px;
}

.subnav:hover {
  border-bottom: 2px solid #111;
}

.subnav-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);
  margin: 20px 0px;
  z-index: 1;
}

.dropdown {
  float: left;
  overflow: hidden;
  padding: 20px 0px;
}

.dropdown:hover .subnav-content {
  display: block;
}

.subnav-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.subnav-content a:hover {
  background-color: #ddd;
}

h1 {
  text-align: center;
  margin-top: 50px;
}

p {
  text-align: justify;
  margin: 20px auto;
  padding: 30px;
  max-width: 600px;
  line-height: 1.6; 
}

.container {
  width: 90%;
  max-width: 700px;
  max-height: 60vh;
  margin: 40px auto;
  padding: 30px 10px;
  overflow-y: auto;
  background: #fff;
  border: #888 solid 3px;
  box-shadow: #888 0px 0px 5px;
}

/* Überschreibt ALLE Inline-Styles für Word-Export-Absätze */
.container .MsoNormal,
.WordSection1 .MsoNormal,
div.WordSection1 p.MsoNormal,
p.MsoNormal[style] {
  margin: 5px auto !important;
  padding: 0px !important;
  max-width: 600px !important;
  text-align: justify !important;
  text-indent: 1em !important;
  line-height: 1.6 !important;
  font-size: 1.1em !important;
  font-family: Cambria, serif !important;
  hyphens: auto !important;
}

.copyright {
  text-align: center;
  margin-top: auto;
  margin-bottom: 20px;
  padding: 10px 0px;
}

@media (max-width: 600px) {
  .navbar {
    width: 100%;
    max-width: 100%;
  }
  .container {
    width: 90%;
    max-width: 100%;
    padding: 10px 20px;
    margin: 10px auto;
    box-shadow: none;
    border-radius: 0;
  }
  .container .MsoNormal,
  .WordSection1 .MsoNormal,
  div.WordSection1 p.MsoNormal,
  p.MsoNormal[style] {
    margin: 10px 0px !important;
    padding: 0px !important;
    text-indent: 1em !important;
    font-size: 1em !important;
    line-height: 1.5 !important;
  }
  .container,
  .container p,
  .container span,
  .container div,
  .container .MsoNormal,
  .WordSection1 .MsoNormal,
  div.WordSection1 p.MsoNormal,
  p.MsoNormal[style] {
    hyphens: auto !important;
    -webkit-hyphens: auto !important;
    -ms-hyphens: auto !important;
    -moz-hyphens: auto !important;
    word-break: break-word !important;
  }
  h1 {
    font-size: 1.3em;
    margin-top: 20px;
  }
  /* Silbentrennung für Fließtext */
  p, span, div {
    hyphens: auto;
  }
}
