  .navbar {
    background-color: #1a1a1a;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    height: 70px;
    margin: 0 auto;
    align-items: center;
  }
  
  .navbar a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
  }
  
  .navbar a:hover {
    border-bottom: 2px solid #fff;
  }

h1 {
    margin-left: 10px;
}

p {
    margin-left: 10px;
}
